<ion-header>
  <ion-toolbar>
    <ion-title>Acerca de</ion-title>
    <ion-buttons slot="start">
        <ion-back-button color="primary">
           
        </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/ionic-for-teams-img.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Acerca de</ion-card-subtitle>
      <ion-card-title>Equipo de Trabajo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>EPE2</p>
      <p>Programacion Aplicaciones Moviles</p>
      <p>Marcelo Sanchez Muñoz</p>
      <p>Werner Quintanilla Miranda</p>
      <p>Ingenieria Informatica</p>
    </ion-card-content>
  </ion-card>
</ion-content>

