<ion-header>
  <ion-toolbar>
    <ion-title>Electricista</ion-title>
    <ion-buttons slot="start">
        <ion-back-button color="primary">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-grid>
         
          <ion-row>
              <ion-col><ion-label>Pedro Perez Lopez</ion-label></ion-col><ion-col><ion-label>+56 999888777</ion-label></ion-col>
              <ion-col><ion-label>L-M-M-J-V-S-D</ion-label></ion-col><ion-col><ion-label>08:00-24:00</ion-label></ion-col>
          </ion-row>
          <ion-item-divider></ion-item-divider>
          <ion-row>
              <ion-col><ion-label>Mario Rojas Gonzalez</ion-label></ion-col><ion-col><ion-label>+56 555444333</ion-label></ion-col>
              <ion-col><ion-label>L-M-M-J-V-S-D</ion-label></ion-col><ion-col><ion-label>08:00-24:00</ion-label></ion-col>
          </ion-row>
          <ion-item-divider></ion-item-divider>
          <ion-row>
              <ion-col><ion-label>Carlos Martinez Morales</ion-label></ion-col><ion-col><ion-label>+56 333555888</ion-label></ion-col>
              <ion-col><ion-label>L-M-M-J-V-S-D</ion-label></ion-col><ion-col><ion-label>08:00-24:00</ion-label></ion-col>
          </ion-row>
       </ion-grid>
      </ion-item>
</ion-content>
