<ion-header>
    <ion-toolbar>
      <ion-title>Servicios</ion-title>
      <ion-buttons slot="start">
        <ion-back-button color="primary">
      </ion-back-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="irgasfiter()"><ion-item color="secondary"><ion-icon name="construct"></ion-icon></ion-item></ion-button>
      <ion-button (click)="irelectricista()"><ion-item color="secondary"><ion-icon name="flash"></ion-icon></ion-item></ion-button>
    </ion-buttons>
   </ion-toolbar>
</ion-content>


